.teachers-edit {

	.edit-teacher {
		padding-top: 1rem;
		text-align: center;
		color: #333;
		font-weight: bold;
	}

	.image-preview {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px dashed green;
		cursor: pointer;
		height: 100px;
		width: 100px;
	}

	.preview-plus {
		color: green;
	}

	img.image-preview {
		border: none;
	}
}